{% extends 'base.html.twig' %}

{% block title %}Créer un compte
{% endblock %}

{% block body %}
<h1>Créer un compte</h1>
<main class="container">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-success m-4 mb-3">{{ button_label|default('S\'inscrire') }}</button>
{{ form_end(form) }}

		<h3>Déja inscrit?
		</h3>

		<a class="btn btn-primary" href="{{ path('app_login') }}">Se connecter</a>
</main>
{% endblock %}
