{% extends 'base.html.twig' %}

{% block title %}Savings index{% endblock %}

{% block body %}
    <h1>Savings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Profitability</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for saving in savings %}
            <tr>
                <td>{{ saving.id }}</td>
                <td>{{ saving.name }}</td>
                <td>{{ saving.amount }}</td>
                <td>{{ saving.type }}</td>
                <td>{{ saving.profitability }}</td>
                <td>
                    <a href="{{ path('app_savings_show', {'id': saving.id}) }}">show</a>
                    <a href="{{ path('app_savings_edit', {'id': saving.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_savings_new') }}">Create new</a>
{% endblock %}
