{% extends 'base_dashboard.html.twig' %}

{% block title %}Frais mensuels récurrents
{% endblock %}

{% block body %}
	<main class="container mx-5">
		<h1>Frais de la vie quotiennes</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Libellé</th>
					<th>Montant</th>
					<th>Type</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% if app.user %}
					{% for monthly_expense in app.user.monthlyExpenses %}
						<tr>
							<td>{{ monthly_expense.name|capitalize }}</td>
							<td>{{ monthly_expense.amount }}</td>
							<td>{{ monthly_expense.type }}</td>
							<td>
								<a class="btn btn-warning" href="{{ path('app_monthly_expenses_edit', {'id': monthly_expense.id}) }}">Modifier</a>
								{% include "monthly_expenses/_delete_form.html.twig" %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">Aucune donnée trouvée</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ path('app_monthly_expenses_new') }}">Ajouter un nouveau frais mensuel</a>
	</main>
{% endblock %}
