{% extends 'base.html.twig' %}

{% block title %}MonthlyExpenses{% endblock %}

{% block body %}
    <h1>MonthlyExpenses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ monthly_expense.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ monthly_expense.name }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ monthly_expense.amount }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ monthly_expense.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_monthly_expenses_index') }}">back to list</a>

    <a href="{{ path('app_monthly_expenses_edit', {'id': monthly_expense.id}) }}">edit</a>

    {{ include('monthly_expenses/_delete_form.html.twig') }}
{% endblock %}
