<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light">
	<a href="{{ path('app_admin')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
		<span class="fs-4">Dashboard</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="{{ path('app_admin')}}" class="nav-link {% if app.request.pathinfo starts with '/admin' %} active {% else %} link-dark {% endif %}" aria-current=" page">
				<i class="bi bi-bell-fill m-2"></i>
				Alertes du jour
			</a>
		</li>
		<li>
			<a href="{{ path('app_user_index')}}" class="nav-link {% if app.request.pathinfo starts with '/user/' %} active {% else %} link-dark {% endif %}">
				<i class="bi bi-people-fill m-2"></i>Patients
			</a>
		</li>
		<li>
			<a href="{{ path('app_secretariat_index')}}" class="nav-link {% if app.request.pathinfo starts with '/secretariat/' %} active {% else %} link-dark {% endif %}">
				<i class="bi bi-people-fill m-2"></i>Secretariats
			</a>
		</li>

	</ul>
	<hr>
	<div>
		<a
			href="{{ path("app_logout") }}" class="d-flex align-items-center link-dark text-decoration-none justify-content-between" id="dropdownUser2">
			{# <img src="{{asset('build/images/exit.svg')}}"> #}
			<strong>Déconnexion</strong>
		</a>
	</div>
</div>
