{% extends 'base.html.twig' %}

{% block title %}Earnings index{% endblock %}

{% block body %}
    <h1>Earnings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for earning in earnings %}
            <tr>
                <td>{{ earning.id }}</td>
                <td>{{ earning.name }}</td>
                <td>{{ earning.amount }}</td>
                <td>{{ earning.type }}</td>
                <td>
                    <a href="{{ path('app_earnings_show', {'id': earning.id}) }}">show</a>
                    <a href="{{ path('app_earnings_edit', {'id': earning.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_earnings_new') }}">Create new</a>
{% endblock %}
