{% extends 'base_dashboard.html.twig' %}

{% block title %}Revenus mensuels
{% endblock %}

{% block body %}
	<main class="container mx-5">
		<h1>Revenus mensuels</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Libellé</th>
					<th>Montant</th>
					<th>Type</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% if app.user %}
					{% for earning in app.user.earnings %}
						<tr>
							<td>{{ earning.name|capitalize }}</td>
							<td>{{ earning.amount }}</td>
							<td>{{ earning.type}}</td>
							<td>
								<a class="btn btn-warning" href="{{ path('app_earnings_edit', {'id': earning.id}) }}">Modifier</a>
								{% include "earnings/_delete_form.html.twig" %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">Aucune donnée trouvée</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ path('app_earnings_new') }}">Ajouter un nouveau revenu mensuel</a>
	</main>
{% endblock %}
