{% extends 'base_dashboard.html.twig' %}

{% block title %}Suivre mon budget
{% endblock %}

{% block body %}
	<section class="container">
		<h1>
			{{app.user.username}}</h1>

		<section class="section-onboarding">
			<h4>Après avoir payé toute vos factures, il vous restera donc environ :
			</h4>
			<h4>
				<span class="calculated-amount">
					{{availableBudget}}
					€
				</spanclass="calculated-amount">
				pour finir le mois.
			</h4>
			<h4>Ce qui représente
				<span class="calculated-amount">
					{{weeklyBudget|round }}
					€
				</spanclass="calculated-amount">
				par semaine.
			</h4>
			<h4>Veuillez donc à ne pas dépenser plus que
				<span class="calculated-amount">
					{{dailyBudget|round}}
					€
				</spanclass="calculated-amount">
				en moyenne par jour.
			</h4>
		</section>

		<section class="section-onboarding">
			<h2 id="spendings">Ajoutez vos dépenses journalières</h2>
			<h3>Votre budget restant se mettra à jour automatiquement</h3>
			{{ form_start(occasionalSpendingsForm) }}
			{{ form_widget(occasionalSpendingsForm) }}
			<button href="#spendings" class="btn btn-danger crud-button ">{{ button_label|default('Ajouter une dépense') }}</button>
			{{ form_end(occasionalSpendingsForm) }}
		</section>

		<section class="section-onboarding">

			<h3>Vous connaissez maintenant votre budget par mois, par semaine et par jour</h3>

			<h4>Veillez à ne pas le dépasser, pensez à l'avenir, il est important de mettre de l'argent de côté chaque mois.
				<br>
				Vous vous remercierez plus tard.
			</h4>

			<a href="{{ path('app_savings_index')}}" class="btn btn-info">
				Obtenir des conseils sur l'épargne
			</a>
		</section>
	</section>
{% endblock %}
