{% extends 'base_dashboard.html.twig' %}

{% set totalEarnings = 0 %}
{% for earning in app.user.earnings %}
	{% set totalEarnings = totalEarnings + earning.amount %}
{% endfor %}

{% set totalMonthlyExpenses = 0 %}
{% for expense in app.user.monthlyExpenses %}
	{% set totalMonthlyExpenses = totalMonthlyExpenses + expense.amount %}
{% endfor %}

{% set availableBudget = totalEarnings - totalMonthlyExpenses %}

{% set advicedSavings = (totalEarnings / 100) * 10 %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<main class="container">
		<h1>Bonjour
			{{app.user.username}}</h1>

		<section class="section-onboarding">
			<h4>D'après les informations que vous nous avez communiquées :
			</h4>
			<h4>Vos revenus totaux mensuels s'élèvent à environ
				{{totalEarnings}}
				€.
			</h4>
			<h4>Vos frais de la vie quotienne s'élèvent à environ
				{{totalMonthlyExpenses}}
				€ par mois.
			</h4>
			<h4>Cela signifie qu'il vous reste chaque mois environ
				{{availableBudget}}
				€ pour vos loisirs et activités diverses.
			</h4>
		</section>
		<section class="section-onboarding">
			<h4>Néanmoins, les spécialistes des finances personnelles préconisent de mettre une partie de vos revenus de côté en cas de coup dur ou tout simplement pour investir dans l'optique de préparer sa retraite ou de réaliser les projets qui vous tiennent a coeur.
			</h4>
			<h4>Si votre situation financière vous le permet, il est conseillé d'épargner 10% de vos revenus chaque mois. Soit
				{{advicedSavings}}
				€ dans votre situation.
			</h4>
			<h4>Si ce n'est pas possible pour vous, essayez de limiter les dépenses impulsives et inutiles. Essayez d'épargner au minimum 50 à 100 € chaque mois.
			</h4>
		</section>
	</main>
{% endblock %}
